    <footer class="footer fixed-bottom">
        <div class="content has-text-centered">
            <p>Copyright Hugo Chapelain 2019</p>
        </div>
    </footer>

    
    <script src="{{ base_url() ~ '/assets/script.js' }}"></script>
    </body>
</html>
