{% extends "pages/base.twig" %}

{# Menu #}
{% use "pages/to_use/menu.twig" %}

{% block content %}
<section class="section">
    {# Introduction #}
    <div class="container">
        <h1 class="title">Hello, I am Hugo</h1>
        <p>I’m Hugo, a 20 years old student @Hetic and freelance UI designer & front-end developer. I am currently looking for an internship between July and October 2019. I also enjoy a fresh 🍺 and banging my head on 🤘songs while working.</p>
        <a href="#" class="button is-primary is-little">Download my resume</a>
    </div>
    {# Experiences #}
    <div class="container">
        <h2 class="subtitle is-uppercase is-size-6 has-text-weight-bold">Experiences</h2>
        
            {# Each experience #}
            {% for _experience in experiences %}
                <div class="experience">
                    <p class="is-capitalized has-text-weight-bold">{{_experience.title}}</p>
                    <p class="has-text-grey is-second-font">{{ _experience.content }}</p>
                </div>
            {% endfor %}
       
        
    </div>
</section>

{% endblock %}