{% extends "pages/base.twig" %}

{# Menu #}
{% use "pages/to_use/menu.twig" %}

{% block content %}

    {% for _categorie in categories %}

        <p>{{_categorie.data1}} {{_categorie.data2}}</p>

    {% endfor %}

{% endblock %}