{% extends "pages/base.twig" %}

{% use "pages/to_use/random_menu.twig" %}

{% block content %}
    <h1>Home</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
     <a href="{{ path_for('categories') }}">categories</a>
{% endblock %}