{% extends "pages/base.twig" %}

{# Menu #}
{% use "pages/to_use/menu.twig" %}

{% block content %}
<section class="section">
    {# Introduction #}
    <div class="container">
       
    </div>
</section>

{% endblock %}